# ==============================================================================
# ESTADO LOCAL DE TERRAFORM
# ==============================================================================

*.tfstate
*.tfstate.*
*.tfstate.backup

# Carpeta interna de Terraform
.terraform/

# Plan binario de Terraform
tfplan

# También puedes ignorar planes con extensión .tfplan
*.tfplan

# Logs de Terraform
crash.log
crash.*.log


# ==============================================================================
# ARCHIVOS DE VARIABLES Y SECRETOS
# ==============================================================================

*.tfvars
*.auto.tfvars
tfvars.json

# Credenciales y llaves
aws_credentials
*.pem


# ==============================================================================
# ARCHIVOS TEMPORALES Y EDITORES
# ==============================================================================

.DS_Store
.vscode/
.idea/

# Credenciales AWS
**/*accessKeys.csv
**/*credentials.csv
*.csv